<div id="main-wrapper">
   <div class="container">
      <article class="box post">
         <a href="#" class="image featured"><img src="./app/css/images/pic01.jpg" alt="" /></a>
         <header>
            <h2>Menon de Oro</h2>
            <p>El premio que todos quieren tener</p>
         </header>
         <p>
            Dale a tu cuerpo alegria Macarena Que tu cuerpo es pa' darle alegria y cosa buena Dale a tu cuerpo alegria, Macarena
            Hey Macarena Dale a tu cuerpo alegria Macarena Que tu cuerpo es pa' darle alegria y cosa buena Dale a tu cuerpo alegria, Macarena
            Hey Macarena Macarena tiene un novio que se llama Que se llama de apellido Vitorino Que en la jura de bandera el muchacho 
            Se la dio con dos amigos Macarena tiene un novio que se llama Que se llama de apellido Vitorino Y en la jura de bandera el muchacho
            Se la dio con dos amigos Dale a tu cuerpo alegria Macarena Que tu cuerpo es pa' darle alegria y cosa buena Dale a tu cuerpo alegria, Macarena
            Hey Macarena Dale a tu cuerpo alegria Macarena Que tu cuerpo es pa' darle alegria y cosa buena
         </p>
         <section>
            <header>
               <h3>Something else</h3>
            </header>
            <p>
               Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
               eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
               elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
               sit amet nullam consequat feugiat dolore tempus.
            </p>
         </section>
         <section>
            <header>
               <h3>So in conclusion ...</h3>
            </header>
            <p>
               #YaCallateCabron
            </p>
         </section>
      </article>
   </div>
</div>